*{
			margin: 0px;
			border: 0;
			padding: 0;
		}
		p{

			padding: 25;
			text-align: justify;
			font-family: arial;
			font-size: 18;
		}



		#imagem-topo{
			background-color: #ADD8E6;
			text-align: center;
			
		}

		h1,h2{
			font-family: arial;
			text-align: center;



		}
		h3{
			font-family: arial;

		}


		footer{
			background-color: #ADD8E6;
			text-align: center;
		}

		img{
			width: 50%;
			height: 50%;
		}
		.Contato{
			font-size:0.95em ;
		}
		.cliente{
			text-align: center;
			color: 	#0000FF;
			font-family: arial;
		}